.footer {
  background-color: black;
  color: white;
  padding: 60px 20px 30px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1px;
}


.footer-left {
  flex: 1 1 300px;
  text-align: left;
  align-self: flex-start;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-description {
  font-size: 15px;
  color: #ccc;
  line-height: 1.6;
}


.footer-links {
  flex: 1 1 200px;
  text-align: left;
}

.footer-links h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 8px 0;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
  text-decoration: underline;
}


.footer-social {
  flex: 1 1 200px;
  text-align: left;
}

.footer-social h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.footer-icons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.footer-icons a {
  color: white;
  font-size: 24px;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: #999;
  transform: translateY(-3px);
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
  font-size: 14px;
  color: #ccc;
}
.content-footer{
  display: flex;
  gap: 50px;
  justify-content: center;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-links,
  .footer-social {
    text-align: center;
  }

  .footer-icons {
    justify-content: center;
  }
}
